$font-size: 16px;
$primary-color: #06182e;

// Responsiveness
$widescreen-enabled: true;

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 64px;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px;
// 960px container + 4rem
$desktop: 960px + (2 * $gap);
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap);
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap);

@mixin from($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin until($device) {
  @media screen and (max-width: $device - 1px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet), print {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin touch {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-only {
  @if $widescreen-enabled {
    @media screen and (min-width: $desktop) and (max-width: $widescreen - 1px) {
      @content;
    }
  }
}

@mixin until-widescreen {
  @if $widescreen-enabled {
    @media screen and (max-width: $widescreen - 1px) {
      @content;
    }
  }
}

@mixin widescreen {
  @media screen and (min-width: $widescreen) {
    @content;
  }
}

@mixin widescreen-only {
  @media screen and (min-width: $widescreen) and (max-width: $fullhd - 1px) {
    @content;
  }
}

@mixin until-fullhd {
  @media screen and (max-width: $fullhd - 1px) {
    @content;
  }
}

@mixin fullhd {
  @media screen and (min-width: $fullhd) {
    @content;
  }
}

// TRANSITIONS

@keyframes fadeInDown {
  0% {
    opacity: 0;
    margin-top: -10px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

body {
  font-size: $font-size;
  font-family: "Noto Sans";
  font-style: normal;
}

h1 {
  font-size: 1.6em;
  margin: 20px 0;
}

a {
  color: rgba(0, 119, 199, 0.77);

  &:hover {
    color: darken(rgba(0, 119, 199, 0.77), 10%);
  }
}

.field {
  &:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  .label {
    color: $primary-color;
    font-size: 0.8em;
    font-weight: normal;
  }

  input,
  textarea,
  select {
    border: 1px solid #eeeeee;
    font-size: 0.8em;
    height: 36px;
    border-radius: 2px;
    box-shadow: none;

    &::placeholder {
      color: rgba(0, 0, 0, 0.38);
    }

    &:focus {
      box-shadow: none;
      border: 1px solid $primary-color;
    }
  }
}

.button {
  &.is-primary {
    border-radius: 2px;
    background-color: $primary-color;
    color: #fff;
    font-size: 0.9em;

    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }
}

.tabs {
  li {
    font-size: 0.8em;
    &.is-active a {
      border-bottom-color: $primary-color;
      color: $primary-color;
    }
  }

  @include touch {
    ul {
      display: flex;
      li {
        display: initial;
        flex: 1;
      }
    }
  }
}

.tab-content {
  display: none;
  &.active {
    display: block;
  }
}

.container {
  @include touch() {
    padding: 0 20px;
  }
}

.animate {
  //transition: all 5s ease;

  &.hidden {
    display: none;
  }

  &.animate-hidden {
    display: none;
  }

  &.animate-show {
    display: block;
  }
}

.header {
  .top-nav {
    background-color: rgb(34, 35, 43);
    border-bottom: 1px solid rgb(164, 162, 164);

    ul {
      display: inline-block;
      li {
        display: inline-block;
        margin-right: 30px;
        color: #fff;
        font-size: 0.7em;
        a {
          color: #fff;
          line-height: 32px;

          &.username {
            color: #a2c34b;
            text-transform: capitalize;
          }
        }
      }
    }

    .top-nav__rightside {
      float: right;
    }

    .select {
      select {
        height: 26px;
        font-size: 0.8em;
        margin-top: 2px;
        padding: 0 38px 0 6px;
        border-radius: 2px;
      }
      &:after {
        top: 14px;
        border-color: #999;
      }
    }
  }

  .main-nav {
    background-color: rgb(34, 35, 43);

    &__container {
      display: flex;
      width: 100%;
    }

    &__logo {
      text-align: center;
      padding: 20px 40px 22px 0;
      img {
        width: 250px;
      }
    }

    &__explore {
      padding: 15px 5px 15px 10px;

      span {
        color: #fff;
        font-size: 0.9em;
        padding: 15px 25px 15px 15px;
        display: block;
        cursor: pointer;
        border-radius: 4px 0 0 0;

        i {
          margin-right: 10px;
          font-size: 0.8em;
        }
      }

      ul {
        display: none;
        background-color: #f3f1f1;
        padding: 12px 25px 25px 25px;
        position: absolute;
        z-index: 99;
        min-width: 300px;
        box-sizing: border-box;
        box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.1);

        li:first-child {
          padding: 0;
          a {
            font-weight: bold;
          }
        }

        li {
          line-height: 28px;
          padding-left: 8px;

          a {
            color: #0f3a70;
            display: block;
            font-size: 0.9em;
            :hover {
              color: darken(#0f3a70, 15%);
            }
          }
        }
      }

      &:hover {
        color: #06182e;
        span {
          background-color: #f3f1f1;
        }

        span {
          color: #06182e;
        }

        ul {
          display: block;
        }
      }
    }

    &__search {
      flex: 1;
      width: 250px;
      font-size: 0.7em;
      margin-top: 15px;

      .search-input {
        flex: 1;
        input {
          font-size: 0.8em;
          line-height: 36px;
          height: 54px;
          padding-left: 16px;
          border-radius: 0 !important;
          border-color: transparent !important;
          border-right: #eee 1px solid !important;

          &::placeholder {
            color: rgba(0, 0, 0, 0.6) !important;
          }
        }
      }

      button {
        height: 54px;
        width: 58px;
        font-size: 16px;
        margin-left: 15px;
        background-color: #9ebb44;
        border-radius: 3px !important;
        border: none;
        i {
          color: #fff;
          opacity: 0.7;
        }

        &:hover {
          background-color: darken(#9ebb44, 5%);
        }
      }

      .select {
        position: relative;
        select {
          font-size: 0.8em;
          line-height: 36px;
          height: 54px;
          padding: 0 10px;
          width: 160px;
          color: #a2c34b;
          text-align: center;
          text-align-last: center;
          border-radius: 0 2px 2px 0 !important;
          border: none !important;
          border-left: #eee 1px solid !important;
          padding-left: 35px;

          &:hover {
            color: darken(#a2c34b, 10%);
          }

          option {
            color: #013d13;
          }
        }
        &:after {
          // overrides pre styles
          border: none;
          transform: none;

          content: "\F078";
          font-weight: 900;
          font-family: "Font Awesome 5 Free";
          position: absolute;
          font-size: 0.8em;
          left: 15px;
          top: 24px;
          color: #a2c34b;
        }

        &:hover {
          &:after {
            color: darken(#a2c34b, 10%);
          }
        }
      }
    }
  }

  .mob-nav {
    display: none;
    .navbar {
      background-color: rgb(34, 35, 43);
      z-index: 1002;

      .navbar-burger {
        color: #fff;
      }
    }
  }

  .navbar-menu {
    display: none;
  }

  @include tablet-only() {
    .main-nav {
      ul {
        flex: 2;
      }
      &__logo {
        flex: initial;
        padding: 10px 20px 12px 0;
        img {
          width: 250px;
        }
      }
      &__search {
        flex: 1;
      }
    }
  }

  @include mobile() {
    .main-nav,
    .top-nav {
      display: none;
    }

    .mob-nav {
      display: initial;
    }

    .navbar-menu {
      position: absolute;
      top: 50px;
      right: 0;
      left: 0;
      bottom: 0;
      padding-top: 0;
      z-index: 1001;
      background-color: #22232b;

      &.active {
        display: block;
        animation: fadeInDown 0.2s;
      }

      ul li {
        &:first-child {
          border-top: 1px solid rgba(255, 255, 255, 0.2);
        }
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        a {
          line-height: 50px;
          color: #fff;
          display: block;
          padding-left: 20px;
        }
      }
    }
  }
}

.footer {
  background-color: #f2f2f2;
  padding: 30px 0 20px;
  min-height: 45px;

  hr {
    background: none;
    border-top: solid 1px #e6e6e6;
    margin: 14px 0 10px;
  }

  p.copyright {
    color: #a5a5a5;
    font-size: 0.8em;

    a {
      color: #a5a5a5;
      margin-left: 25px;
      &:hover {
        color: darken(#a5a5a5, 5%);
      }
    }

    @include mobile {
      a {
        margin: 0;
        display: block;
        line-height: 35px;
        color: #06182e;
      }
    }
  }

  &__links {
    h3 {
      font-weight: bold;
      font-size: 0.9em;
      color: #5a5a5a;
    }

    ul {
      margin-left: 5px;
      li {
        a {
          font-size: 0.8em;
          color: #06182e;
          &:hover {
            color: darken(#06182e, 5%);
          }
        }
      }
    }
  }

  @include mobile() {
    padding: 1rem 0;

    &__links {
      display: none;

      display: block;
      margin: 0;
      li {
        border: none;
        padding: 0;
        a {
          display: block;
          line-height: 50px;
        }
      }
    }
  }
}

.page {
  min-height: 80vh;
  overflow: hidden;
  padding-bottom: 20px;
  clear: both;
}

.page.home {
  text-align: center;

  .home__logo {
    width: 500px;
    margin-top: 140px;
  }

  .home__search {
    width: 720px;
    margin: 30px auto;
    font-size: 0.7em;

    .search-input {
      flex: 1;
      input {
        font-size: 0.8em;
        font-weight: bold;
        line-height: 36px;
        height: 54px;
        padding-left: 16px;
        border: #013d13 1px solid !important;
        color: #013d13;

        &::placeholder {
          color: #013d13 !important;
        }
      }
    }

    .select {
      position: relative;
      select {
        font-size: 0.8em;
        font-weight: bold;
        line-height: 36px;
        height: 54px;
        padding: 0 10px;
        width: 160px;
        color: #013d13;
        text-align: center;
        text-align-last: center;
        padding-left: 35px;
        border: 1px solid #013d13;
        border-radius: 0 3px 3px 0 !important;

        &:hover {
          color: darken(#013d13, 10%);
        }

        option {
          color: #013d13;
        }
      }

      &:after {
        // overrides pre styles
        border: none;
        transform: none;

        content: "\F078";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        position: absolute;
        font-size: 0.8em;
        left: 15px;
        top: 24px;
        color: #013d13;
      }

      &:hover:after {
        color: darken(#013d13, 10%);
      }
    }

    button {
      height: 54px;
      width: 58px;
      font-size: 16px;
      margin-left: 15px;
      background-color: #06182e;
      border-radius: 3px !important;
      border: none;

      i {
        color: #fff;
      }

      &:hover {
        background-color: darken(#06182e, 5%);
      }
    }
  }

  .home__sectors {
    li {
      display: inline-block;
      a {
        color: #a2c34b;
        &:hover {
          color: darken(#a2c34b, 10%);
        }
      }

      &:after {
        content: "|";
        color: lighten(#a2c34b, 20%);
        padding: 0 10px;
      }

      &:last-child:after {
        display: none;
      }
    }
  }

  @include touch {
    .home__search {
      width: 90%;
      max-width: 400px;
    }
  }
}

.page.sector {
  background-color: #f2f2f2;

  .sector__supplier {
    background-color: #fff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.28);
    margin-bottom: 40px;

    h2 {
      background-color: $primary-color;
      color: #fff;
      line-height: 24px;
      font-size: 1.1em;
      display: inline-block;
      min-width: 180px;
      padding-right: 10px;
      margin-top: 15px;
      border-radius: 10px 5px 5px 10px;

      i {
        background-color: #dce7e3;
        border-radius: 8px 0 0 8px;
        color: $primary-color;
        padding: 7px;
        margin-right: 10px;
      }
    }
  }

  .sector__products {
    margin-top: 20px;

    .image {
      border: solid 0.5px #707070;
      border-radius: 2px 2px 0 0;
      overflow: hidden;
    }

    .card {
      box-shadow: none;
      border-radius: 2px;
      border: solid 0.5px rgba(0, 0, 0, 0.12);
      margin-bottom: 20px;

      h3 {
        font-size: 1.2em;
        letter-spacing: 0.2px;
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }

  .sector__more {
    text-align: right;
    padding: 0 0 20px 0;
  }

  .pagination {
    margin-bottom: 10px;

    .pagination-list {
      justify-content: center;
    }

    .pagination-link {
      background-color: #fff;

      &.is-current {
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
}

.page.search {
  .search__product {
    margin-bottom: 30px;
    .product__content {
      display: flex;
      border-bottom: 1px solid #dbdbdb;
      padding-bottom: 15px;

      img {
        width: 120px;
        height: 120px;
        border: solid 1px #dbdbdb;
        border-radius: 4px;
        margin-right: 10px;
      }

      h3 {
        font-size: 1.3em;
        font-weight: 600;
      }
    }

    .product__shortcut {
      display: flex;
      font-size: 0.9em;

      .shortcut__supplier {
        width: 300px;
        line-height: 28px;
      }

      .shortcut__organization {
        flex: 1;
        line-height: 28px;
      }

      .shortcut__button {
        width: 200px;
        border: solid 1px #e8e8e8;
        border-top: none;
        padding: 5px 20px;
      }
    }

    a {
      color: #a2c34b;

      &:hover {
        color: darken(#a2c34b, 10%);
      }
    }

    @include touch() {
      .product__content {
        display: block;
        img {
          float: left;
        }
      }

      .product__shortcut {
        display: none;
      }
    }
  }
}

.page.supplier {
  background-color: #eee;
  padding: 0;

  h2,
  h3 {
    font-size: 1em;
    margin-bottom: 14px;
  }

  .container {
    box-shadow: 0 3px 47px 0 rgba(42, 42, 42, 0.35);
    background-color: #eee;
  }

  .supplier__container {
    margin-top: -70px;
    padding-left: 80px;
  }

  .supplier__cover {
    width: 100%;
  }

  .supplier__logo {
    height: 128px;
    border: solid 1px #d1d1d1;
  }

  .supplier__products {
    background-color: rgba(0, 0, 0, 0.37);
    color: #fff;
    font-size: 0.8em;

    overflow-y: auto;
    width: 420px;
    max-height: 700px;

    padding: 20px 20px 30px;
    border: 0.5px solid #b1b1b1;

    position: absolute;
    top: 50px;
    right: 0;

    h2 {
      font-size: 1.4em;
      font-weight: bold;
    }

    h3 {
      font-size: 1.1em;
      margin-bottom: 5px;
    }

    ul {
      padding-left: 15px;
      li {
        line-height: 32px;

        a {
          color: #fff;
          font-size: 1em;

          &:hover {
            color: darken(#fff, 10%);
          }
        }
      }
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    &::-webkit-scrollbar {
      width: 12px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
      border: solid 0.5px rgba(0, 0, 0, 0.2);
    }
  }

  @include touch {
    .container {
      background-color: #fff;
    }

    .supplier__container {
      margin-top: 0;
      padding-left: 0;
    }

    .supplier__products {
      float: none;
      width: 100%;
      background-color: #fff;
      position: relative;
      color: #000;

      ul {
        padding-left: 0;
        li {
          border-bottom: 2px solid #fff;
          background-color: #efefef;
          margin-bottom: 1px;
          a {
            line-height: 50px;
            padding-left: 20px;
            display: block;
            color: #000;
          }
        }
      }
    }
  }
}

.page.sectors {
  .box {
    padding: 0;
    border-radius: 2px;
    box-shadow: none;
    box-shadow: 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.2);

    img {
      height: 76px;
      width: 76px;
    }

    p {
      padding: 20px 0;
    }

    strong {
      font-size: 1.4em;
      font-weight: normal;
    }

    .media-content {
      overflow: hidden;
      & p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.page.product {
  background-color: #eeeeee;
  padding: 0;

  h2,
  h3 {
    font-size: 1em;
    margin-bottom: 14px;
  }

  .container {
    box-shadow: 0 0 47px 0 rgba(42, 42, 42, 0.16);
    background-color: #fff;
  }

  .product__commands {
    position: absolute;
    left: 0;
    top: 150px;

    opacity: 0.8;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #f1f1f1;
    background-color: #fff;

    a {
      background-color: #a2c34b;

      border-radius: 50%;
      padding: 5px;
      display: block;
      text-align: center;
      width: 25px;
      height: 25px;
      line-height: 15px;
      margin: 5px 4px;

      i {
        color: #fff;
        font-size: 14px;
      }

      &:hover {
        background-color: darken(#a2c34b, 10%);
      }
    }
  }

  .product__container {
    margin-top: -70px;
    padding: 0 50px;
  }

  .product__cover {
    width: 100%;
  }

  .product__brand-image {
    width: 120px;
    height: 120px;
    background-color: #fff;
    border: solid 1px #d1d1d1;
    border-radius: 5px;
  }

  .product__related {
    display: flex;
    justify-content: flex-end;

    li {
      margin: 0 6px;
    }

    img {
      width: 120px;
      height: 120px;

      border: solid 1px #d1d1d1;
      border-radius: 5px;
    }
  }

  .product__info {
    p {
      margin-top: 10px;
      line-height: 22px;
    }
  }

  .product__topcertified {
    float: right;
    list-style: none;
    margin-top: 70px;
    li {
      display: inline-block;
      margin: 5px 0;
    }
  }

  .product__description {
    clear: both;
    .tabs {
      margin-bottom: 30px;

      ul {
        border: none;

        li {
          background-color: #ababab;
          font-size: 0.8em;
          margin-left: 8px;
          border-radius: 20px;
          a {
            padding: 8px 12px;
            border: none;
            color: #f3f1f1;
          }

          &:first-child {
            margin-left: 0;
          }

          &.is-active {
            background-color: #a2c34b;
            a {
              color: #fff;
            }
          }
        }
      }
    }

    .tab-content {
      padding-left: 0;
    }
  }

  .product__coupon {
    display: flex;
    margin-top: 10px;

    .coupon__image {
      font-size: 0.8em;
      img {
        width: 220px;
        display: block;
        margin-bottom: 5px;
      }
    }

    .coupon__content {
      flex: 1;
      padding-left: 10px;

      h2 {
        color: #0f3a70;
        font-size: 1.1em;
        font-weight: bold;
      }

      p {
        color: #272727;
        font-size: 1em;
      }
    }
  }

  @include touch {
    .container {
      margin-top: 0;
    }
    .product__topcertified {
      margin-top: 0;
    }
  }

  @include widescreen-only() {
    .product__coupon {
      .coupon__image {
        img {
          width: 230px;
        }
      }
    }
  }

  @include desktop-only() {
    .product__coupon {
      display: block;
      .coupon__image {
        img {
          width: 100%;
        }
      }
    }
  }

  @include mobile() {
    .product__container {
      margin-top: 0;
      padding: 0 20px;
    }
  }
}

.page.signIn {
  padding-top: 100px;

  .button.is-primary {
    width: 90px;
    height: 40px;
  }

  .forgot-pass {
    flex: 1;
    text-align: right;
    a {
      font-size: 0.9em;
      line-height: 40px;
    }
  }
}

.page.enquiry {
  padding-top: 100px;

  .tabs {
    display: block;
  }

  form > strong {
    color: $primary-color;
    font-size: 1em;
    font-weight: normal;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .enquiry__map {
    height: 500px;
    border: 1px solid #ccc;
  }
}

.page.signUp {
  padding-top: 100px;
  padding-bottom: 100px;
}

.page.local-stores {
  padding-bottom: 0;
  .map {
    position: relative;

    &__component {
      height: 80vh;
    }

    &__buttons {
      z-index: 1000;
      position: absolute;
      bottom: 30px;
      right: 20px;

      button {
        background-color: #fff;
        box-shadow: 0 6px 8px 0 rgba(69, 91, 99, 0.1);
        border-radius: 6px;
        width: 46px;
        height: 46px;
        line-height: 46px;
        color: #454f63;
        font-size: 18px;
        display: flex;
        margin-top: 10px;

        &:hover {
          background-color: darken(#fff, 2%);
        }
      }
    }

    .map__filters {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 300px;
      z-index: 1000;
      background-color: #fff;
      overflow-y: scroll;
      display: none;

      &.active {
        display: block;
      }

      .filters__close {
        color: #000;
        position: absolute;
        right: 5px;
        font-size: 18px;
      }

      .control {
        margin-top: 30px;
      }

      .radio {
        display: block;
        margin: 15px 20px;
        border: 1px solid #cecece;
        padding: 10px 15px;
        border-radius: 3px;

        input {
          margin-right: 5px;
        }
      }
    }

    .box {
      padding: 0;
      border-radius: 2px;
      box-shadow: none;
      width: 250px;

      img {
        height: 76px;
        width: 76px;
      }

      p {
        line-height: 72px;
      }

      strong {
        font-size: 1.8em;
        font-weight: normal;
      }
    }
  }

  .leaflet-popup-content-wrapper {
    border-radius: 0;
    padding: 0;
    .leaflet-popup-content {
      margin: 0;
    }
    .leaflet-popup-content p {
      margin: 0;
    }
  }
}

.page.rich-content {
  h2 {
    font-size: 1.3em;
    margin-bottom: 15px;
  }

  .rich-content__content {
    line-height: 32px;

    ul,
    ol {
      padding: 20px;
    }
  }

  &.welcome {
    background: url("/static/images/welcome-bg.png") no-repeat 0 0;
    position: relative;

    .container {
      padding-top: 200px;
      padding-bottom: 230px;
    }

    h1 {
      color: #a2c34b;
      font-size: 1.8em;
      font-weight: bold;
    }

    .rich-content__content {
      font-size: 1.1em;
      font-weight: 500;
      color: #272727;
      text-align: justify;
      p {
        margin-bottom: 15px;
      }
    }

    .welcome__register {
      border-radius: 10px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      padding: 35px 40px;
    }

    @include touch() {
      .container {
        padding-top: 100px;
        padding-bottom: 130px;
      }
    }
  }
}

.page.profile {
  .profile__image {
    position: relative;
    overflow: hidden;
    width: 180px;
    border: 6px solid #fff;
    margin: 10px auto 30px;
    box-shadow: 2px 2px 5px 1px #efefef;

    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
    }
  }
}

.page.feeds {
  .feeds__categories {
    a {
      display: inline-block;
      width: calc(50% - 4px);
      margin: 2px;
      vertical-align: top;
      position: relative;

      &:after {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        background: rgba(0, 110, 255, 0.6);

        mix-blend-mode: multiply;
        transition: 0.2s opacity ease-out;
        z-index: 9;
      }

      &:hover:after {
        opacity: 0;
      }

      img {
        display: block;
      }

      span {
        position: absolute;
        bottom: 20px;
        font-weight: bold;
        font-size: 1.4em;
        margin: 0 auto;
        display: block;
        z-index: 10;
        color: #fff;
        text-align: center;
        width: 100%;
      }
    }
  }

  .feeds__profile {
    label {
      font-size: 0.7em;
      color: #999;
      font-weight: bold;
      & + span {
        color: #4a85ce;
        float: right;
        font-size: 0.9em;
        font-weight: bold;
      }
    }
  }

  .feeds__post {
    display: flex;

    .feeds__postbody {
      flex: 1;
      padding: 20px 25px;
      cursor: text;
      font-weight: bold;
    }

    .feeds__postvideo,
    .feeds__postimage {
      padding: 20px 25px;
      min-width: 50px;
      border-left: 1px solid #eee;
      text-align: center;
      cursor: pointer;

      &:hover {
        color: #178bde;
      }
    }
  }

  .feeds__insights {
    & > div {
      box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
        0 0 0 1px rgba(10, 10, 10, 0.1);
      padding: 20px 25px 0;
      margin-bottom: 25px;
    }

    h2 {
      font-size: 1.2em;
      font-weight: bold;
    }

    h3 {
      font-size: 0.8em;
      font-weight: bold;
    }
  }
}
