$font-size: 16px;
$primary-color: #06182e;

body {
  font-size: $font-size;
  font-family: "Noto Sans";
  font-style: normal;
}

h1 {
  font-size: 1.6em;
  margin: 20px 0;
}

a {
  color: rgba(0, 119, 199, 0.77);

  &:hover {
    color: darken(rgba(0, 119, 199, 0.77), 10%);
  }
}

.field {
  &:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  .label {
    color: $primary-color;
    font-size: 0.8em;
    font-weight: normal;
  }

  input,
  textarea,
  select {
    border: 1px solid #eeeeee;
    font-size: 0.8em;
    height: 36px;
    border-radius: 2px;
    box-shadow: none;

    &::placeholder {
      color: rgba(0, 0, 0, 0.38);
    }

    &:focus {
      box-shadow: none;
      border: 1px solid $primary-color;
    }
  }
}

.button {
  &.is-primary {
    border-radius: 2px;
    background-color: $primary-color;
    color: #fff;
    font-size: 0.9em;

    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }
}

.tabs {
  li {
    font-size: 0.8em;
    &.is-active a {
      border-bottom-color: $primary-color;
      color: $primary-color;
    }
  }
}

.tab-content {
  display: none;
  &.active {
    display: block;
  }
}

.animate {
  transition: all 5s ease;

  &.hidden {
    display: none;
  }

  &.animate-hidden {
    display: none;
  }

  &.animate-show {
    display: block;
  }
}

.header {
  .top-nav {
    background-color: rgb(34, 35, 43);
    border-bottom: 1px solid rgb(164, 162, 164);

    ul {
      display: inline-block;
      li {
        display: inline-block;
        margin-right: 30px;
        color: #fff;
        font-size: 0.7em;
        a {
          color: #fff;
          line-height: 32px;

          &.username {
            color: #a2c34b;
          }
        }
      }
    }

    .top-nav__rightside {
      float: right;
    }

    .select {
      select {
        height: 26px;
        font-size: 0.8em;
        margin-top: 2px;
        padding: 0 38px 0 6px;
        border-radius: 2px;
      }
      &:after {
        top: 14px;
        border-color: #999;
      }
    }
  }

  .main-nav {
    background-color: rgb(34, 35, 43);

    &__container {
      display: flex;
      width: 100%;
    }

    ul {
      flex: 1;
      li {
        display: inline-block;
        a {
          color: #fff;
          font-size: 0.9em;
          padding: 20px 0 20px;
          margin-right: 25px;
          display: block;
        }
      }
    }

    &__logo {
      flex: 1;
      text-align: center;
      padding-top: 8px;
      img {
        width: 250px;
      }
    }

    &__search {
      flex: 1;
      width: 250px;
      font-size: 0.7em;
      margin-top: 10px;

      input {
        font-size: 0.7em;
        line-height: 36px;
        height: 36px;
        border-radius: 2px !important;

        &::placeholder {
          color: #013d13 !important;
          font-weight: bold;
        }
      }

      button {
        margin-left: 4px;
        background-color: rgb(158, 187, 68);
        border-radius: 3px !important;
        border: none;
        i {
          color: #fff;
          opacity: 0.7;
        }
      }

      .select {
        select {
          font-size: 0.7em;
          line-height: 36px;
          height: 36px;
          padding: 0 10px;
          width: 40px;
          color: #013d13;
          text-align: center;
          text-align-last: center;
        }
        &:after {
          display: none !important;
        }
      }

      .search-input {
        flex: 1;
      }
    }
  }
}

.footer {
  background-color: #f2f2f2;
  padding: 2rem 1.5rem 3rem;
  height: 45px;

  p.copyright {
    color: #a5a5a5;
    font-size: 0.9em;
  }

  ul.social {
    float: right;
    li {
      display: inline-block;
      margin-left: 5px;
      a {
        display: block;
        background-color: #c3c3c3;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        line-height: 22px;
        font-size: 0.7em;
        text-align: center;
        color: #fff;
        &.social__instagram {
          background-color: #007ab9;

          &:hover {
            background-color: darken(#007ab9, 10%);
          }
        }
        &.social__twitter {
          background-color: #598dca;
          &:hover {
            background-color: darken(#598dca, 10%);
          }
        }
        &.social__facebook {
          background-color: #3a589b;
          &:hover {
            background-color: darken(#3a589b, 10%);
          }
        }
      }
    }
  }

  p {
    display: inline-block;
  }

  &__links {
    display: inline-block;
    margin-left: 15px;
    li {
      display: inline-block;
      border-left: 1px solid #e3e3e3;
      padding-left: 15px;
      a {
        font-size: 0.9em;
        color: #a5a5a5;
        &:hover {
          color: darken(#a5a5a5, 5%);
        }
      }
    }
  }
}

.page {
  min-height: 80vh;
  overflow: hidden;
  padding-bottom: 20px;
}

.page.home {
  text-align: center;

  .home__logo {
    width: 500px;
    margin-top: 70px;
  }

  .home__search {
    width: 400px;
    margin: 80px auto;
    font-size: 0.7em;

    input {
      font-size: 0.7em;
      line-height: 36px;
      height: 36px;
      border-radius: 2px !important;

      &::placeholder {
        color: #013d13 !important;
        font-weight: bold;
      }
    }

    button {
      margin-left: 2px;
      background-color: $primary-color;
      border-radius: 3px !important;
      i {
        color: #fff;
        opacity: 0.5;
      }
    }

    .select {
      select {
        font-size: 0.7em;
        line-height: 36px;
        height: 36px;
        padding: 0 10px;
        width: 40px;
      }
      &:after {
        display: none !important;
      }
    }

    .search-input {
      flex: 1;
    }
  }

  .home__sectors {
    width: 600px;
    display: block;
    margin: 0 auto;
    ul > li {
      display: inline-block;
      margin: 0 2px;
      a {
        display: block;
        height: 22px;
        border-radius: 11px;
        background-color: #dfdfdf;
        border: solid 0.5px rgba(0, 0, 0, 0.12);
        color: rgba(0, 0, 0, 0.87);
        text-align: left;
        padding: 2px 6px 2px 2px;

        &:hover {
          background-color: darken(#dfdfdf, 10%);
        }

        img {
          border-radius: 50%;
          width: 17px;
          height: 17px;
          margin-right: 2px;
          vertical-align: super;
        }
        span {
          font-size: 0.9em;
          vertical-align: text-top;
          line-height: 5px;
        }
      }
    }
  }
}

.page.sector {
  background-color: #f2f2f2;

  .sector__supplier {
    background-color: #fff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.28);
    margin-bottom: 40px;

    h2 {
      background-color: $primary-color;
      color: #fff;
      line-height: 24px;
      font-size: 0.8em;
      display: inline-block;
      min-width: 180px;
      padding-right: 10px;
      margin-top: 10px;
      border-radius: 10px 5px 5px 10px;

      i {
        background-color: #dce7e3;
        border-radius: 8px 0 0 8px;
        color: $primary-color;
        padding: 7px;
        margin-right: 5px;
      }
    }
  }

  .sector__products {
    margin-top: 10px;

    .image {
      border: solid 0.5px #707070;
      border-radius: 2px 2px 0 0;
      overflow: hidden;
    }

    .card {
      box-shadow: none;
      border-radius: 2px;
      border: solid 0.5px rgba(0, 0, 0, 0.12);
      margin-bottom: 20px;

      h3 {
        font-size: 1.2em;
        letter-spacing: 0.2px;
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }

  .pagination {
    margin-bottom: 10px;

    .pagination-list {
      justify-content: center;
    }

    .pagination-link {
      background-color: #fff;

      &.is-current {
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
}

.page.supplier {
  h2,
  h3 {
    font-size: 1em;
    margin-bottom: 14px;
  }

  .container {
    margin-top: -70px;
  }

  .supplier__cover {
    width: 100%;
  }

  .supplier__products {
    background-color: rgba(171, 171, 171, 0.8);
    border: 0.5px solid #b1b1b1;
    border-radius: 2px;
    float: right;
    width: 420px;
    padding: 30px 18px;
    color: $primary-color;
    font-size: 0.8em;
    margin-top: -200px;

    h2 {
      font-size: 1.2em;
    }

    h3 {
      font-size: 1.1em;
      margin-bottom: 5px;
    }

    ul {
      padding-left: 15px;
      li {
        line-height: 32px;

        a {
          color: $primary-color;
          font-size: 1em;

          &:hover {
            color: darken($primary-color, 10%);
          }
        }
      }
    }
  }
}

.page.sectors {
  .box {
    padding: 0;
    border-radius: 2px;
    box-shadow: none;
    box-shadow: 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.2);

    img {
      height: 76px;
      width: 76px;
    }

    p {
      padding: 15px 12px;
    }

    strong {
      font-size: 1.8em;
      font-weight: normal;
    }
  }
}

.page.product {
  h2,
  h3 {
    font-size: 1em;
    margin-bottom: 14px;
  }

  .container {
    margin-top: -70px;
  }

  .product__cover {
    width: 100%;
  }

  .product__brand-image {
    width: 120px;
    height: 120px;
  }

  .product__related {
    display: flex;
    justify-content: flex-end;

    li {
      margin: 0 6px;
    }

    img {
      width: 120px;
      height: 120px;
      border-radius: 3px;
    }
  }

  .product__info {
    p {
      margin-top: 10px;
      line-height: 22px;
    }
  }

  .product__topcertified {
    float: right;
    list-style: none;
    margin-top: 70px;
    li {
      display: inline-block;
      margin: 5px 0;
    }
  }

  .product__description {
    clear: both;
    .tabs {
      margin-bottom: 30px;

      ul {
        border: none;

        li {
          background-color: #ababab;
          font-size: 0.8em;
          margin-left: 8px;
          border-radius: 20px;
          a {
            padding: 8px 12px;
            border: none;
            color: #f3f1f1;
          }

          &.is-active {
            background-color: #a2c34b;
            a {
              color: #fff;
            }
          }
        }
      }
    }

    .tab-content {
      padding-left: 20px;
    }
  }
}

.page.signIn {
  background: url("/static/images/supplier-bg.png") no-repeat;
  background-size: 100%;

  padding-top: 200px;

  .button.is-primary {
    width: 90px;
    height: 40px;
  }

  .forgot-pass {
    flex: 1;
    text-align: right;
    a {
      font-size: 0.9em;
      line-height: 40px;
    }
  }
}

.page.enquiry {
  background: url("/static/images/supplier-bg.png") no-repeat;
  background-size: 100%;
  padding-top: 200px;

  .tabs {
    display: block;
  }

  form > strong {
    color: $primary-color;
    font-size: 1em;
    font-weight: normal;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .enquiry__map {
    height: 500px;
    border: 1px solid #ccc;
  }
}

.page.signUp {
  background: url("/static/images/supplier-bg.png") no-repeat;
  background-size: 100%;
  padding-top: 150px;
}

.page.local-stores {
  padding-bottom: 0;
  .map {
    position: relative;

    &__component {
      height: 80vh;
    }

    &__buttons {
      z-index: 1000;
      position: absolute;
      bottom: 30px;
      right: 20px;

      button {
        background-color: #fff;
        box-shadow: 0 6px 8px 0 rgba(69, 91, 99, 0.1);
        border-radius: 6px;
        width: 46px;
        height: 46px;
        line-height: 46px;
        color: #454f63;
        font-size: 18px;

        &:hover {
          background-color: darken(#fff, 2%);
        }
      }
    }

    &__location {
    }

    .box {
      padding: 0;
      border-radius: 2px;
      box-shadow: none;
      width: 250px;

      img {
        height: 76px;
        width: 76px;
      }

      p {
        line-height: 72px;
      }

      strong {
        font-size: 1.8em;
        font-weight: normal;
      }
    }
  }

  .leaflet-popup-content-wrapper {
    border-radius: 0;
    padding: 0;
    .leaflet-popup-content {
      margin: 0;
    }
    .leaflet-popup-content p {
      margin: 0;
    }
  }
}
